<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>

<body>
    <!--Side Nav-->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a routerLink="/log-in" onclick="closeNav()">Log-in</a>
        <a routerLink="/sign-up" onclick="closeNav()">Sign-up</a>
        <a routerLink="/reg-scan" onclick="closeNav()">Register Scanned Luggage</a>
        <a routerLink="" onclick="closeNav()">Deny Luggage</a>
        <a routerLink="/reg-plane" onclick="closeNav()">Register Luggage to Plane</a>

    </div>
    <!--Top of the page, has the open side nav button-->  
    <div class="topNav" style="text-align:left;float:left;"><button onclick="openNav()" class= "btn navbar-open">---</button>
        <h1 id="tabastitle"x>TABAS</h1></div>
   
    <div id="main">
        
    </div>
    


</body>
<p>TEC.Airlines.Baggage.Administration.System</p>
<router-outlet></router-outlet>


</html>